<template>
  <div class="container px-5">
    <div class="my-3 text-4xl">Tasks <span class="text-2xl text-gray-400">({{ tasks.length }})</span></div>
    <div class="flex">
      <input v-model="newTask" placeholder="New Task" class="flex-1" type="text">
      <button @click="addTask" class="bg-blue-500 text-white p-2">+ Add</button>
    </div>
    <ul class="mt-5">
      <li v-for="task in tasks"
          :key="task.id"
          :class="task.is_completed ? 'bg-green-200' : ''"
          class="flex items-center border mt-1"
      >
        <div
            @click="markTaskAsCompleted(task.id)"
            :class="task.is_completed ? 'line-through' : ''"
            class="mr-2 flex-1 p-2">{{ task.value }}
        </div>
        <button @click="deleteTask(task.id)" class="bg-red-500 p-2 text-center w-8 text-white">x</button>
      </li>
    </ul>
  </div>
</template>

<script setup>
import { ref, onBeforeMount } from 'vue'

const tasks = ref([])
const newTask = ref('')
const baseUrl = 'http://127.0.0.1:8888' //todo: refactor baseUrl

onBeforeMount(() => {
  fetchTasks()
})

async function fetchTasks() {
  const { data } = await window.axios.get('http://127.0.0.1:8888/tasks')
  tasks.value = data
}

async function addTask() {
  if (newTask.value.length < 1) return
  await window.axios.post('http://127.0.0.1:8888/tasks', {
    value: newTask.value,
    is_completed: false
  })
  newTask.value = ''
  await fetchTasks()
}

async function markTaskAsCompleted(id) {
  await window.axios.post('http://127.0.0.1:8888/tasks/' + id)
  await fetchTasks()
}

async function deleteTask(id) {
  await window.axios.delete('http://127.0.0.1:8888/tasks/' + id)
  await fetchTasks()
}


</script>
